In [7]:
Pi = 3.14159
pi = 3.14159
_3pi = 3.14159*3
pi_2 = 3.14159**2
pi^2 = 3.14159**2
my radius = 5
My_Radius = 5
class = 5

SyntaxError: cannot assign to operator (1586061836.py, line 5)

In [9]:
Pi = 3.14159

In [10]:
pi = 3.14159

In [11]:
3pi = 3.14159*3

SyntaxError: invalid syntax (690458346.py, line 1)

In [14]:
pi_2 = 3.14159**2

In [15]:
pi^2 = 3.14159**2

SyntaxError: cannot assign to operator (237702300.py, line 1)

In [16]:
my radius = 5

SyntaxError: invalid syntax (3754373399.py, line 1)

In [17]:
MY_radius=5

In [19]:
class=5

SyntaxError: invalid syntax (1792501919.py, line 1)

In [20]:
x = "2"
y=z=2

In [22]:
print(x * y)

22

In [23]:
print(x+x)

22

In [24]:
print(y*z)

4

In [25]:
print((y+z)**z)

16

In [28]:
print(type(x*y))

<class 'str'>

In [29]:
print(type(y*z))

<class 'int'>

In [30]:
print(type((y+z)**z))

<class 'int'>

In [31]:
print( type(y/(y+z)) )

<class 'float'>

In [32]:
x = 12 
y = 10

In [34]:
z = x+y
print(z)

22

In [35]:
x = x+y
print(x)

22

In [36]:
y = z+y
print(y)

32

In [37]:
x = 1+2*3/4
print(x)

2.5

In [38]:
y = (1+2)*(3/4)
print(y)

2.25

In [40]:
z =1+2*(3/4)
print(z)

2.5

In [41]:
x = 10
y = 3

In [42]:
print(x%y)

1

In [44]:
print(x+y)

13

In [45]:
print(x<y)

False

In [46]:
print(x**y)

1000

In [47]:
print(x-y)

7

In [49]:
print(int(x/y))

3

# 3.3

In [63]:
import math

r = 6
v = (4*math.pi*r**3)/3
print('%.3f' % v)

904.779

In [66]:
import math
v = 14137
r = ((3/4)*(v/math.pi))**(1/3)
print('%.f'%r)

15

# Task 4: Python Conditions

## 4.1 Working with Conditions

Change the code below so that you get the following output:

1.Code prints Hours are greater than zero when hours is set to 10 
    
2.Code prints Hours are greater than zero and Hours are less than 10 when hours is set to 2 
    
3.Code prints Hours are less than 10 when hours is set to 0 
    

Hint: You will need to add two lines, and change the two lines I've provided as a starting point.

In [159]:
hours = 0
if hours == 10:
        print("Hours are greater than zero")
elif hours == 2:
        print("Hours are greater than zero and Hours are less than 10")
elif hours == 0:
    print("Hours are less than 10")

Hours are less than 10

In [162]:
hours=0

if hours > 0:
    print("Hours are greater than zero")
if hours < 10:
    print("Hours are less than 10")

Hours are less than 10

In [70]:
a = 1
b = 1

x = a

if x == b:
    print("inside1")
    print("inside2")
    print("inside")
else:
    print("after condition")

inside1
inside2
inside

In [71]:
for x in range(0,9):
    print(x)

0
1
2
3
4
5
6
7
8

## Task 5: Python Logic

In [76]:
x= 0

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

Aled
Sarah

In [77]:
for x in range(0,9):
    if x%2 ==0:
        print("x is even")
    else:
        print("x is odd")
    print(x)

x is even
0
x is odd
1
x is even
2
x is odd
3
x is even
4
x is odd
5
x is even
6
x is odd
7
x is even
8

## 5.3  'Nested' Conditionals

In [80]:
x = 5
y = 5

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("x is equal to y")

x is equal to y

# Task 6: Python Lists

## 6.1 Who's in the List?
Here we are looking to interact with lists in a straightforward way that will help you to understand accessing them using indexes and slices, and searching:

In [1]:

cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

# Print out London from cities:
print( cities[1] )

London

In [83]:
# Print out Tokyo using *negative* indexing:
print( cities[-2])

Tokyo

In [88]:
# Print out Beijing and Tokyo using a list slice
print( cities[2:4] )

['Beijing', 'Tokyo']

In [90]:

print( cities[0:] ) # You could also do cities[1:5] but this way is neater

['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

In [3]:
# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print( cities[-4:4] )

['London', 'Beijing', 'Tokyo']

In [95]:
#Print out the position of New York in the list by searching for it (i.e. you can't just type 0)
print( cities.index('New York'))

0

### 6.2 Manipulating Lists
Let's break a few things:

In [97]:

# Cause an 'IndexError: list index out of range' errr
cities[6]

IndexError: list index out of range

In [98]:
cities.index('Toronto')

ValueError: 'Toronto' is not in list

In [103]:
s = ['aaa','ddd','eee','bbb',]
s1 = ['a','c','b']
new = sorted(s,key= lambda i:i[0])
print(new)

['aaa', 'bbb', 'ddd', 'eee']

In [117]:

new = sorted(cities,key= lambda i:i[-1])
new

['Beijing', 'Delhi', 'New York', 'London', 'Tokyo']

In [114]:
new.reverse()
new

['Tokyo', 'London', 'New York', 'Delhi', 'Beijing']

In [120]:

cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
 
cars.sort()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['audi', 'bmw', 'subaru', 'toyota']

In [124]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

In [128]:
cities.sort()
print(cities.reverse())

None

In [132]:
cities.reverse()
cities

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

In [136]:
cities.insert(2,"Toronto")

In [133]:
li=['a', 'b']   
li.insert(0,"c")

In [134]:
li

['c', 'a', 'b']

In [ ]:
nums = [40, 36, 89, 2, 36, 100, 7]
#第一次删除36
nums.remove(36)
print(nums)
#第二次删除36
nums.remove(36)
print(nums)
#删除78
nums.remove(78)
print(nums)

del lang[-2]
print(lang)

In [144]:
cities = ['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']
cities.remove('New York')
print(p)
print(cities)

New York
['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']

In [145]:
my_list = [12, 'Siya', 'Tiya', 14, 'Riya', 12, 'Riya']

#By passing index as 2 to remove Tiya
name = my_list.pop(2)
print(name)
print(my_list)

Tiya
[12, 'Siya', 14, 'Riya', 12, 'Riya']

In [157]:
cities = ['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']
p = cities.pop(cities.index('New York'))
print(p,cities,sep='\n')

New York
['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']

In [ ]:
cities = ['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']

In [138]:
if 'Moscow' in cities:
    print ("in")
else:
    print('not')

not

In [139]:
for i in range(20,28):
    print(i)

20
21
22
23
24
25
26
27